<%- include('./layouts/header.ejs'); -%>
        <div class="container">
        <!-- content -->
            <div class="col-sm-8">
                <% if(typeof articles_by_term !== 'undefined') { var articles = articles_by_term; %>
                <ul>
                    <% if(articles.length > 0) { %>
                        <% articles.forEach(function(item, index){ %>
                             <li><a href="<%= get_site_url(); %>/<% if(item.slug) { %><%= item.slug + '-' +item._id %><% } %>"><% if(item.title) { %><%= item.title %><% } %></a></li>
                        <% }) %>
                         <% } else { %>
                        <p>Empty!</p>
                    <% } %>
                    </ul>
                <% } %>
            </div>
            <!-- end content -->
            <!-- sidebar -->
            <%- include('./layouts/sidebar.ejs'); -%>
            <!-- end sidebar -->
        </div>
<%- include('./layouts/footer.ejs'); -%>
    