<%- include('./layouts/header.ejs'); -%>
        <div class="container">
        <!-- content -->
            <div class="col-sm-8">
                <% if(typeof app_globals !== 'undefined'  && typeof app_globals.articles !== 'undefined') { var articles = app_globals.articles; %>
                <ul>
                    <% if(articles.length > 0) { %>
                        <% articles.forEach((item, index) => { %>
                             <li><a href="<%= get_site_url(); %>/<% if(item.slug) { %><%= item.slug + '-' +item._id %><% } %>"><% if(item.title) { %><%= item.title %><% } %></a></li>
                        <% }) %>
                    <% } %>
                    </ul>
                <% } %>
            </div>
            <!-- end content -->
            <!-- sidebar -->
            <%- include('./layouts/sidebar.ejs'); -%>
            <!-- end sidebar -->
        </div>
<%- include('./layouts/footer.ejs'); -%>
    