<%- include('./layouts/header.ejs'); -%>
        <div class="container">
        <!-- content -->
            <div class="col-sm-8">
               

<%  if(post && typeof post !== 'undefined') { %>

    <% if(post.title) { %><h1><%= post.title %></h1><% } %>

    <% if(post.content) { %>
        <div class="content"><%= post.content %></div>
    <% } %>


<%= get_field('fax_number');  %>
  
<% } %>


            </div>
            <!-- end content -->
            <!-- sidebar -->
            <%- include('./layouts/sidebar.ejs'); -%>
            <!-- end sidebar -->
        </div>
<%- include('./layouts/footer.ejs'); -%>
    