<div class="clearfix"></div>
</div>
<!-- end main -->
<!-- footer -->

<!-- end footer -->



<% if(typeof site_info.page_slug !== 'undefined' && 
(site_info.page_slug=='articles' || site_info.page_slug=='pages' || site_info.page_slug=='users' )) { %>
<script> $('input[name="search"]').focus(); </script>
<% } else { %>
<script> $('input[name="title"]').focus(); </script>
<% } %>

<script src="<%= get_admin_url(); %>/js/socket.io.js"></script>
<script> var socket = io(); </script>

<% if(typeof site_info !== 'undefined') { %>
    <% if(typeof site_info.page_slug !== 'undefined' && site_info.page_slug=='create_user') { %>
        <script src="<%= get_admin_url(); %>/js/users/create.js"></script>
    <% } %>

        <% if(typeof site_info.page_slug !== 'undefined' && (site_info.page_slug=='update_user' || site_info.page_slug=='profile')) { %>
        <script src="<%= get_admin_url(); %>/js/users/edit.js"></script>
        <%  if(user) { %>
            <% if(user.username) { %>
                <script> edit_user.username = '<%= user.username %>'; </script>
            <% } %>
            <% if(user.email) { %>
                <script> edit_user.old_email = '<%= user.email %>'; </script>
                <script> edit_user.email = '<%= user.email %>'; </script>
            <% } %>
        <% } %>
       
    <% } %>
<% } %>

<script>
    var loadFile = function (event) { // không hoạt động chung với VUe.js
    var output = document.getElementById('output_avatar'); output.src = URL.createObjectURL(event.target.files[0]);
    var thumbnail = document.getElementById('thumbnail'); thumbnail.value = URL.createObjectURL(event.target.files[0]);
    };
    $('#del_thumbnail').click(function () {
        $('#output_avatar').attr('src', '<%= get_site_url(); %>/backend/images/no-image.svg');
        $('#thumbnail').val('');
        $('#check_del_thumbnail').val('1');
    });
</script>


<script>
    $('#add_field').click(function () {
        $('#wrap_fields').append(`
        <div class="form-group field row">
            <div class="col-xs-3">
                <input type="text" class="form-control key" name="key" autocomplete="off" required>
            </div>
                <div class="col-xs-8"  style="padding-left: 0;">
                <input type="text" class="form-control" name="value" autocomplete="off">
            </div>
            <div class="col-xs-1" style="padding-left: 0;">
                <button class="btn btn-danger btn-block btn_del_field" type="button">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
        `);
        $('.key').focus();

        $('.btn_del_field').click(function(){
                $(this).closest('.field').find('input[name="key"]').val('');
                $(this).closest('.field').find('input[name="value"]').val('');
                $(this).closest('.field').remove();
        });
    });

    $('.btn_del_field').click(function(){
            $(this).closest('.field').find('input[name="key"]').val('');
            $(this).closest('.field').find('input[name="value"]').val('');
            $(this).closest('.field').remove();
    });


</script>

</body>
</html>