<!-- header -->
<header id="wrap_header">
<ul class="nav navbar-nav">
        <li class="active"><a style="background: #fff;" target="_blank" href="<%= get_site_url(); %>">
        <i class="fa fa-home" aria-hidden="true"></i>
        </a></li>
      
</ul>


    <%- include('./components/search.ejs'); -%>
        <% if(typeof site_info !== 'undefined') { %>
                <ul class="nav navbar-nav navbar-right wrap_me">
                    <li class="dropdown ">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">
                            <% if(typeof site_info.me !== 'undefined') { %>
                                <% if(site_info.me.role) { %> <%- get_role(site_info.me.role) %> <% } %> &nbsp;
                                <% if(site_info.me.display_name) { %>
                                    <%= site_info.me.display_name  %>
                                <% } else { %>
                                    <%= site_info.me.username  %>
                                <% } %>
                            <% } %>
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="<%= get_admin_url(); %>/users/profile"><i class="fa fa-user" aria-hidden="true"></i> My profile</a>
                            </li>
                            <li role="separator" class="divider"></li>
                            <li>
                                <a href="<%= get_site_url(); %>/signout" onclick="return confirm('Are you sure?')"><i class="fa fa-sign-out" aria-hidden="true"></i> Signout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <% } %>
</header>
<!-- end header -->
<%- include('./components/breadcrumb'); -%>