<% if(typeof site_info.me !== 'undefined') { %>
     <% if(site_info.me.role == '1') { 
        var editor = 1 
    } else if(site_info.me.role == '2') { 
        var administrator = 1 
     } %>
<% } %>

<%- include('../layouts/header.ejs'); -%>
    <!-- main -->
    <div id="wrap_main">
        <!-- sidebar -->
        <%- include('../layouts/sidebar'); -%>
            <!-- end sidebar -->
            <%- include('../layouts/navbar'); -%>
                <!-- content -->
                <% var post_type_slug  = '', post_type_id = '' ; if(typeof site_info !== 'undefined' && typeof site_info.post_type !== 'undefined') {  
                    post_type_slug = site_info.post_type.post_type_slug;
                    post_type_id = site_info.post_type.post_type_id  
                } %>
                <form action="<%= get_admin_url(); %>/<%= post_type_slug %>/create" method="post" id="create" enctype="multipart/form-data">
                    <input type="hidden" value="<%= post_type_id %>" name="post_type_id">
                    <div class="wrap_create">
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" name="title" class="form-control" v-focus required placeholder="Enter title here">
                        </div>
                        <div class="form-group">
                            <label>Content</label>
                            <div id="toolbar-container"></div>
                            <textarea name="content" id="content" rows="10" class="form-control" ></textarea>
                        </div>
                        <hr>
                        <div class="form-group">
                            <label>Excerpt</label>
                            <textarea name="excerpt" id="excerpt" rows="4" class="form-control"></textarea>
                        </div>

                        <hr>

                        <!-- custom field -->
                        <label>Custom field</label>
                        <div id="wrap_fields"></div>

                        <div >
                                <a href="javascript:void(0)" class="btn btn-default pull-right" id="add_field">
                                    <i class="fa fa-plus-circle" aria-hidden="true"></i> Add field</a>
                        </div>
                        <!-- end custom field -->



<script>
    $('#add_field').click(function () {
        $('#wrap_fields').append(`
        <div class="form-group field_item row">
            <div class="col-xs-3">
                <input type="text" class="form-control key_field" name="key_field" autocomplete="off">
            </div>
                <div class="col-xs-8"  style="padding-left: 0;">
                <input type="text" class="form-control" name="value_field" autocomplete="off">
            </div>
            <div class="col-xs-1" style="padding-left: 0;">
                <button class="btn btn-danger btn-block btn_del_field" type="button"  onclick="return confirm('Are you sure?')">
                    <i class="fa fa-minus-circle" aria-hidden="true"></i>
                </button>
            </div>
            <div class="clearfix"></div>
        </div>
        `);
        $('.key_field').focus();

        $('.btn_del_field').click(function(){
            $(this).closest('.field_item').find('input[name="key_field"]').val('');
            $(this).closest('.field_item').find('input[name="value_field"]').val('');
            $(this).closest('.field_item').remove();
        });
    });

    $('.btn_del_field').click(function(){
        $(this).closest('.field_item').find('input[name="key_field"]').val('');
        $(this).closest('.field_item').find('input[name="value_field"]').val('');
        $(this).closest('.field_item').remove();
    });
</script>


                        <div class="wrap_publish">
                            <label>&nbsp;</label>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong># Publish</strong>
                                </div>
                                <div class="panel-body">
                                    <div class="form-group">
                                        <i class="fa fa-calendar" aria-hidden="true"></i> 04/06/2018 at 15:07
                                    </div>
                                     <% if(editor || administrator) { %>
                                    <div class="form-group">
                                        <select class="form-control" name="status">
                                            <option value="1">Publish</option>
                                            <option value="0">Private</option>
                                        </select>
                                   
                                    </div>
                                     <% } %>
                                    <button type="submit" class="btn btn-default pull-right">Create</button>
                                </div>
                            </div>
                            <!-- end -->
                            
                          
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <strong># Featured Image</strong>
                                </div>
                                <div class="panel-body">
                                   
                                    <div class="form-group">
                                    <div class="user_thumbnail">
                                        <span id="del_thumbnail">
                                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                                        </span>
                                        <input class="input-file" accept="image/*" id="thumbnail" name="thumbnail" type="file" onChange="loadFile(event)">
                                    
                                        <img id="output_avatar" class="img-thumbnail" alt="Add Featured Image" src="<%= get_site_url(); %>/backend/images/no-image.svg">
                                    </div>
                                    <small style="font-style:italic;">Click the image to edit or update</small>
                                    <br>
                                    <script>
                                        var loadFile = function (event) {
                                            var output = document.getElementById('output_avatar'); output.src = URL.createObjectURL(event.target.files[0]);
                                            var thumbnail = document.getElementById('thumbnail'); thumbnail.value = URL.createObjectURL(event.target.files[0]);
                                        };
                                        $('#del_thumbnail').click(function () {
                                            $('#output_avatar').attr('src', '<%= get_site_url(); %>/backend/images/no-image.svg');
                                            $('#thumbnail').val('');
                                        });
                                    </script>
                                    <div class="clearfix"></div>
                                    </div>
                                </div>
                            </div>
                            <!-- end -->
                            <% if(post_type_slug != 'pages') { %>
                            <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <strong># Categories</strong>
                                    </div>
                                    <div class="panel-body">
                                        <div id="wrap_categories">
                                                <% if(typeof terms !== 'undefined') {  %>
                                                    <% if(terms.length > 0) { %>
                                                        <% terms.forEach(function(item_term, index){ %>
                                                            <% if(item_term.taxonomy_id == '1') { %>
                                                                <div class="checkbox">
                                                                    <label><input class="term" type="checkbox" value="<% if(item_term._id) { %><%= item_term._id %><% } %>"><% if(item_term.title) { %><%= item_term.title %><% } %></label>
                                                                </div>
                                                            <% } %>
                                                        <% }); %>
                                                    <% } %>
                                                <% } %>
                                                <input type="hidden" name="terms" id="terms">
                                        </div>
                                      
                                      
                                         <div class="input-group">
                                                <input type="text" class="form-control" id="name_term" taxonomy_id="1">
                                                <span class="input-group-btn">
                                                  <button class="btn btn-default" type="button" id="create_term">Add</button>
                                                </span>
                                         </div>


<script>
// $('#create_term').click(function(){
// 	var name_term = $('#name_term').val();
// 	if(name_term=='') {
// 		alert('Please input name of term !'); $('#name_term').focus();
// 	} else {
//         var taxonomy_id = $('#name_term').attr('taxonomy_id');
// 		if(taxonomy_id==1) {
//             var taxonomy_slug = 'categories'
//         } else if(taxonomy_id==2) {
//             var taxonomy_slug = 'tags'
//         }
// $('#form_create_term').append(`

// <input type="hidden" name="title" value="`+ name_term +`">
// <input type="hidden" name="taxonomy_id" value="`+ taxonomy_id +`">
// `)


//         $.ajax({
// 			type:'POST',
// 			url: '/backend/terms/' + taxonomy_slug + '/create',  
// 			data: $("#form_create_term").serialize(),
// 			success: function(result){
// 				alert(result)
// 			}
// 		})


		// 	$.post( '/backend/terms/' + taxonomy_slug + '/create', { title:name_term, taxonomy_id : taxonomy_id }, function( data ) {
        //         alert(data)
		// 		if(data!='') {
		// 			$('#wrap_categories').prepend(`
                   
		// 			`);
		// 			$('#name_term').val('');
		// 		} else {
		// 			alert('Error! An error occurred. Please try again later');
		// 		}
		// });
			
	
		
		
		
		
	}
});
</script>

                                    </div>
                                </div>
                                <% } %>
                                <!-- end -->
                        </div>
                    </div>
                </form>

<script>
    $('#create').submit(function(e){
        // e.preventDefault();
        var terms = [];
        $('.term').each(function() {
            var term = {};
            if(this.checked) {
                terms.push($(this).val()); 
            }
        });
        $('#terms').val(terms);
        e.submit();                               
    })
</script>

                <!-- end content -->
    </div>
    <!-- end main -->


<form  method="post" id="form_create_term" enctype="multipart/form-data">
</fomr>


    <%- include('../layouts/footer'); -%>