<% if(typeof site_info.me !== 'undefined') { %>
     <% if(site_info.me.role == '1') { 
        var editor = 1 
    } else if(site_info.me.role == '2') { 
        var administrator = 1 
     } %>
<% } %>

<%- include('../layouts/header.ejs'); -%>
    <!-- main -->
    <div id="wrap_main">
        <!-- sidebar -->
        <%- include('../layouts/sidebar'); -%>
            <!-- end sidebar -->
            <%- include('../layouts/navbar'); -%>
                <!-- content -->
                <% var post_type_slug  = '', post_type_id = '' ; if(typeof site_info !== 'undefined' && typeof site_info.post_type !== 'undefined') {  
                    post_type_slug = site_info.post_type.post_type_slug;
                    post_type_id = site_info.post_type.post_type_id  
                } %>
                <%  if(typeof post !== 'undefined' && post) { %>
                        <form action="<%= get_admin_url(); %>/<%= post_type_slug %>/update?_method=PUT" method="post" id="update" enctype="multipart/form-data">
                            <input type="hidden" name="_id" value="<% if(post._id) { %><%= post._id %><% } %>">
                           
                            <div class="wrap_create">
                                <div class="form-group">
                                    <label>Title</label>
                                    <input type="text" name="title" class="form-control" v-focus required placeholder="Enter title here" value="<% if(post.title) { %><%= post.title %><% } %>">
                                </div>
                                <div class="form-group">
                                    <label>Content</label>
                                    <textarea name="content" id="content" rows="10" class="form-control" ><% if(post.content) { %><%= post.content %><% } %></textarea>
                                </div>
                                <hr>
                                <div class="form-group">
                                    <label>Excerpt</label>
                                    <textarea name="excerpt" id="excerpt" rows="4" class="form-control"><% if(post.excerpt) { %><%= post.excerpt %><% } %></textarea>
                                </div>
                                
                                <div class="wrap_publish">
                                    <label>&nbsp;</label>
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <strong># Status</strong>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <i class="fa fa-calendar" aria-hidden="true"></i> <%= get_time(new Date()) %>
                                            </div>
                                              <% if(editor || administrator) { %>
                                            <div class="form-group">
                                                    <select class="form-control" name="status">
                                                        <option value="1" <% if(post.status && post.status=='1') { %> selected <% } %> >Publish</option>
                                                        <option value="0" <% if(post.status && post.status=='0') { %> selected <% } %> >Private</option>
                                                    </select>
                                                </div>
                                                 <% } %>
                                            <button type="submit" class="btn btn-default pull-right">Update</button>
                                        </div>
                                    </div>
                                    <!-- end -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <strong># Featured Image</strong>
                                        </div>
                                        <div class="panel-body">
                                            <div class="form-group">
                                                <div class="user_thumbnail">
                                                    <span id="del_thumbnail">
                                                        <i class="fa fa-times-circle" aria-hidden="true"></i>
                                                    </span>
                                                    <input class="input-file" accept="image/*" id="thumbnail" name="thumbnail" type="file" onChange="loadFile(event)">
                                                    <img id="output_avatar" class="img-thumbnail" alt="Add Featured Image" src="<% if(post.thumbnail) { %><%= get_admin_url(); %>/uploads/<%= post.thumbnail %><% } else { %><%= get_site_url(); %>/backend/images/no-image.svg<% } %>">
                                                    <input type="hidden" name="check_del_thumbnail" id="check_del_thumbnail">
                                                </div>
                                                <small style="font-style:italic;">Click the image to update</small>
                                                
                                                <div class="clearfix"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- end -->
                                    <% if(post_type_slug != 'pages') { %>
                                    <div class="panel panel-default">
                                            <div class="panel-heading">
                                                <strong># Categories</strong>
                                            </div>
                                            <div class="panel-body">
                                                <div id="wrap_tags">
                                                        <% if(typeof terms !== 'undefined') {  %>
                                                            <% if(terms.length > 0) { %>
                                                                <% terms.forEach(function(item_term, index){ %>
                                                                    <% if(item_term.taxonomy_id == '1') { %>
                                                                        <div class="checkbox">
                                                                            <label>
                                                                                <input 
                                                                                
                                                                                <% if(typeof post.categories !== 'undefined') { var  categories = post.categories %>
                                                                                    <% if(categories.length > 0) { %>
                                                                                        <% categories.forEach(function(item_category, index){ %>
                                                                                            <% if(item_category.taxonomy_id == '1' && item_category._id == item_term._id) { %>
                                                                                                checked
                                                                                            <% } %>
                                                                                        <% }); %>
                                                                                    <% } %>
                                                                                <% } %>
                                                                                
                                                                                class="term" type="checkbox" value="<% if(item_term._id) { %><%= item_term._id %><% } %>"><% if(item_term.title) { %><%= item_term.title %><% } %></label>
                                                                        </div>
                                                                    <% } %>
                                                                <% }); %>
                                                            <% } %>
                                                        <% } %>
                                                        <input type="hidden" name="terms" id="terms">
                                                </div>
                                              
                                                 <% if(editor || administrator) { %>
                                         <div class="input-group">
                                                <input type="text" class="form-control" id="name_term" taxonomy_id="1">
                                                <span class="input-group-btn">
                                                  <button class="btn btn-default" type="button" id="create_term">Add</button>
                                                </span>
                                         </div>
                                        <% } %>
                                            </div>
                                        </div>
                                        <% } %>
                                        <!-- end -->
                                </div>
                            </div>
                        </form>
                       
                            <% } %>
                            <script>
                                $('#update').submit(function(e){
                                    // e.preventDefault();
                                    var terms = [];
                                    $('.term').each(function() {
                                        var term = {};
                                        if(this.checked) {
                                            terms.push($(this).val()); 
                                        }
                                    });
                                    $('#terms').val(terms);
                                    e.submit();                               
                                })
                            </script>
                                <!-- end content -->
    </div>
    <!-- end main -->
    <%- include('../layouts/footer'); -%>