<% if(typeof site_info.me !== 'undefined') { %>
     <% if(site_info.me.role == '1') { 
        var editor = 1 
    } else if(site_info.me.role == '2') { 
        var administrator = 1 
     } %>
<% } %>
<%- include('../layouts/header.ejs'); -%>
    <!-- main -->
    <div id="wrap_main">
        <!-- sidebar -->
        <%- include('../layouts/sidebar'); -%>
            <!-- end sidebar -->
            <%- include('../layouts/navbar'); -%>
                <!-- content -->
                    <!-- if search -->
                    <% if(typeof key_search !== 'undefined' && key_search!='') { %>
                        <p><% if (typeof count_result !== 'undefined' && count_result > 0)  { %> Có <%= count_result %> <% } else { %> Không có <% } %> kết quả phù hợp với từ khóa : "<%= key_search %>"</p> 
                    <% } %>
                    <!-- end if search -->

                    <% if(typeof users !== 'undefined') {  %>
                        <% if(users.length > 0) { %>
                            <%- include('../layouts/components/pagination.ejs'); -%>
                                <table class="table table-bordered table-striped wrap_data">
                                    <thead>
                                        <tr>
                                            <th style="width:30px;">No.</th>
                                            <th>Thumbnail</th>
                                            <th>Username</th>
                                            <th>Display name</th>
                                            <th>Email</th>
                                            <th>Role</th>
                                            <th style="width:95px;text-align:center;">Options</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% users.forEach(function(item, index){ %>
                                            <tr id="<% if(item._id) { %><%= item._id %><% } %>">
                                                <td style="text-align:center;"> <%= index + 1 %> </td>
                                                <td style="width: 70px;" class="text-center">
                                                    <% if(item.thumbnail) {  var url_thumbnail = get_admin_url()+'/uploads/' + item.thumbnail  %>

                                                        <% if(typeof site_info.me !== 'undefined' && site_info.me._id == item._id) { %>
                                                            <a href="<%= get_admin_url(); %>/users/profile">    
                                                        <% } else { %>
                                                            <a href="<%= get_admin_url(); %>/users/update/<% if(item._id) { %><%= item._id %><% } %>">
                                                        <% } %>
                                                            <img class="thumb" src="<%= url_thumbnail %>" alt="<% if(item.username) { %><%= item.username %><% } %>">
                                                        </a>
                                                    <% } else { %>
                                                            <% if(typeof site_info.me !== 'undefined' && site_info.me._id == item._id) { %> <a href="<%= get_admin_url(); %>/users/profile">    
                                                        <% } else { %> <a href="<%= get_admin_url(); %>/users/update/<% if(item._id) { %><%= item._id %><% } %>"> <% } %>
                                                                <img class="thumb" src="<%= get_site_url() %>/backend/images/no-image.svg" alt="<% if(item.username) { %><%= item.username %><% } %>">
                                                        </a>

                                                    <% } %>
                                                    
                                                    
                                                  



                                                </td>
                                                <td>
                                                        <% if(typeof site_info.me !== 'undefined' && site_info.me._id == item._id) { %>
                                                            <a href="<%= get_admin_url(); %>/users/profile">    
                                                        <% } else { %>
                                                    <a href="<%= get_admin_url(); %>/users/update/<% if(item._id) { %><%= item._id %><% } %>">
                                                        <% } %>
                                                    
                                                    <% if(item.username) { %><%= item.username %><% } %></a>
                                                </td>
                                                <td><% if(item.display_name) { %><%= item.display_name %><% } %></td>
                                                <td><% if(item.email) { %><%= item.email %><% } %></td>
                                                <td><% if(item.role) { %><%- get_role(item.role) %><% } %></td>
                                                <td style="text-align:center;" >
                                                    <a href="javascript:void(0)" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="View">
                                                        <i class="fa fa-eye" aria-hidden="true"></i>
                                                    </a>

                                                    <% if(typeof site_info.me !== 'undefined' && site_info.me._id == item._id) { %>
                                                        <a href="<%= get_admin_url(); %>/users/profile" class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Edit">
                                                    <% } else { %>
                                                        <a href="<%= get_admin_url(); %>/users/update/<% if(item._id) { %><%= item._id %><% } %>" class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Edit">
                                                    <% } %>


                                                    
                                                        <i class="fa fa-pencil" aria-hidden="true"></i>
                                                    </a>
                                                    <form action="<%= get_admin_url(); %>/users/delete?_method=DELETE" method="POST" style="display:inline-block;">
                                                        <input type="hidden" name="_id" value="<% if(item._id) { %><%= item._id %><% } %>">
                                                        <button type="submit" onclick="return confirm ('Are you sure ?')" class="btn btn-danger btn-xs"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                    </form>
                                                </td>
                                            </tr>
                                            <% }) %>
                                    </tbody>
                                </table>
                                <%- include('../layouts/components/pagination.ejs'); -%>
                            <% } else { %>
                                <p>Empty</p>
                                <a href="<%= get_admin_url(); %>/dashboard">Return to Dashboard</a>
                            <%  } %>
                        <% } %>
                <!-- end content -->
    </div>
    <!-- end main -->
    <%- include('../layouts/footer'); -%>