<%- include('../layouts/header.ejs'); -%>
    <!-- main -->
    <div id="wrap_main">
        <!-- sidebar -->
        <%- include('../layouts/sidebar'); -%>
            <!-- end sidebar -->
            <%- include('../layouts/navbar'); -%>
                <!-- content -->
                    <!-- if search -->
                        <% if(typeof key_search !== 'undefined' && key_search!='') { %>
                            <p><% if (typeof count_result !== 'undefined' && count_result > 0)  { %> Có <%= count_result %> <% } else { %> Không có <% } %> kết quả phù hợp với từ khóa : "<%= key_search %>"</p> 
                        <% } %>
                    <!-- end if search -->
                    <% var taxonomy_slug  = '', taxonomy_id = '' ; if(typeof site_info !== 'undefined' && typeof site_info.taxonomy !== 'undefined') {  
                        taxonomy_slug = site_info.taxonomy.taxonomy_slug;
                        taxonomy_id = site_info.taxonomy.taxonomy_id;
                    } %>
                   <div class="row">
                    <div class="col-md-5">
                        <!-- form create -->
                        <form action="<%= get_admin_url(); %>/terms/<%= taxonomy_slug %>/create" method="post" enctype="multipart/form-data">
                            <input type="hidden" value="<%= taxonomy_id %>" name="taxonomy_id">
                                <div class="form-group">
                                    <label>Name</label>
                                    <input type="text" name="title" class="form-control" v-focus required placeholder="Enter name here">
                                </div>
                                <div class="form-group">
                                    <label>Description</label>
                                    <div id="toolbar-container"></div>
                                    <textarea name="description" id="content" rows="4" class="form-control" ></textarea>
                                </div>
                                <div class="form-group">
                                 <label>Thumbnail</label>
                                    <div class="user_thumbnail">
                                        <span id="del_thumbnail">
                                            <i class="fa fa-times-circle" aria-hidden="true"></i>
                                        </span>
                                        <input class="input-file" accept="image/*" id="thumbnail" name="thumbnail" type="file" onChange="loadFile(event)">
                                    
                                        <img id="output_avatar" class="img-thumbnail" alt="Add Featured Image" src="<%= get_site_url(); %>/backend/images/no-image.svg">
                                    </div>
                                    <small style="font-style:italic;">Click the image to update</small>
                                  
                                    
                                    <div class="clearfix"></div>
                                    </div>
                                <hr>
                                
                                <div class="form-group">
                                <button type="submit" class="btn btn-default"><i class="fa fa-floppy-o" aria-hidden="true"></i>&nbsp; Create</button>
                            </div>
                        </form>
                        <!-- end form create -->
                        
                    </div>
                    <div class="col-md-7">
                        <% if(typeof terms !== 'undefined') {  %>
                            <% if(terms.length > 0) { %>
                                <%- include('../layouts/components/pagination.ejs'); -%>
                                    <table class="table table-bordered table-striped wrap_data">
                                        <thead>
                                            <tr>
                                                <th style="width:30px;">No.</th>
                                                <th>Title</th>
                                                <th>Slug</th>
                                                <th>Description</th>
                                                
                                                <th style="width:95px;text-align:center;">Options</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <% terms.forEach(function(item, index){ %>
                                                <tr id="<% if(item._id) { %><%= item._id %><% } %>">
                                                    <td style="text-align:center;"> <%= index + 1 %> </td>
                                                    <td><a href="<%= get_admin_url(); %>/terms/<%= taxonomy_slug %>/update/<% if(item._id) { %><%= item._id %><% } %>"><% if(item.title) { %><%= item.title %><% } %></a></td>
                                                    <td><% if(item.slug) { %><%= item.slug %><% } %></td>
                                                    <td><% if(item.description) { %><%= item.description %><% } %></td>
                                                    <td style="text-align:center;">
                                                        <a href="javascript:void(0)" class="btn btn-info btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="View"><i class="fa fa-eye" aria-hidden="true"></i></a>
                                                        <a href="<%= get_admin_url(); %>/terms/<%= taxonomy_slug %>/update/<% if(item._id) { %><%= item._id %><% } %>" class="btn btn-warning btn-xs" data-toggle="tooltip" data-placement="top" data-original-title="Edit">
                                                            <i class="fa fa-pencil" aria-hidden="true"></i>
                                                        </a>
                                                        <form action="<%= get_admin_url(); %>/terms/<%= taxonomy_slug %>/delete?_method=DELETE" method="post" style="display:inline-block;">
                                                            <input type="hidden" name="_id" value="<% if(item._id) { %><%= item._id %><% } %>">
                                                            <button type="submit" onclick="return confirm ('Are you sure delete this term and relationship in article ?')" class="btn btn-danger btn-xs"> <i class="fa fa-trash-o" aria-hidden="true"></i></button>
                                                        </form>
                                                    </td>
                                                </tr>
                                                <% }) %>
                                        </tbody>
                                    </table>
                                <%- include('../layouts/components/pagination.ejs'); -%>
                            <% } else { %>
                            <p>Empty!</p>
                            <% if(typeof key_search !== 'undefined' && key_search!='') { %>
                                <a href="<%= get_admin_url(); %>/dashboard">Return to Dashboard</a>
                            <% } %>
                            <%  } %>
                    <% } %>   
                    </div>

                   </div>
                     
                <!-- end content -->
    </div>
    <!-- end main -->
<%- include('../layouts/footer'); -%>